# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

*.test
*.log
*.txt

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor
node_modules
dist
dist-ssr
*.local
test

# Rust
target/
Cargo.lock

# Vercel
.vercel

# Turborepo
.turbo
