doctype html
html
  head 
    link(rel="icon" href="https://botway-cdn.onrender.com/icon.svg" type="image/svg")

    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    title= "📡 Botway API"

  body
    pre(style="word-wrap: break-word; white-space: pre-wrap;") #{message}
